.chat-main__message-list__info
  .chat-main__message-list__info__upper
    .chat-main__message-list__info__upper__talker
      = message.user.name
    .chat-main__message-list__info__upper__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-main__message-list__info__lower
    - if message.content.present?
      %p.chat-main__message-list__info__lower__text
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?